@import 
url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    background: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

.form{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: rgb(2, 99, 179)
}

.screen{
    height: 80%;
}