.display{
    background: rgba(0, 0, 0, 0.462);
    width: 100%;
    height: auto;
    margin: 0;
}

input{
    height: 97px;
    width: 99%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 4vw;
}